/* hero banner style */
.heroBanner{
    position: relative;
    height: 99.5vh;
    width: 100%;    
    overflow: hidden;

    img{    
        height: 100%;
        width: 100%;
        object-fit: cover;    
    }
    .bgLayer{    
        position: absolute;
        bottom: 0;
        z-index: 2;
        height: 30%;
        width: 100%;
        background: linear-gradient(0deg, rgb(68, 68, 68) 0%, rgba(68, 68, 68, 0) 100%);
    }
    .heroBannerContent{
        z-index: 3;
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        padding: 0 50px;
        background: transparent;
    }
    .heroBannerContent-center{
        position: absolute;
        top: 43%;    
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo{
            height: auto;
            width: clamp(100px, 25vw, 200px);
            object-fit: contain;
        }
    }
}

/* about-section style*/
.aboutSection{
    min-height: 100vh;
    width: 100%;
    background: var(--bg-dark2);        
    position: relative;    

    .aboutSectionImages{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 70%;
        min-width: 450px;
        width: 50%;
        .image1{
            height: 100%;
            filter: brightness(.9);
            position: relative;    
            img{
                position: relative;
            }
        }
        .image2{
            position: absolute;
            bottom: -80px;
            right: 10%;
            height: 35%;    
            aspect-ratio: 1/1;
            z-index: 6;
        }
        .image3{
            position: absolute;
            top: -50px;
            left: 5%;
            height: 25%;    
            aspect-ratio: 1/1;
            z-index: 6;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .text-wrapper{
        position: absolute;
        top: 50%;
        width: 100%;
        padding:0 80px;
        transform: translateY(-50%);
    }
    .aboutSectionParagraph1{    
        z-index: 5;
        width: 100%;           
        margin-bottom: 75px;
        & > div{
            margin-left: 55%;
            width: 600px;    
        }
        h2{
            font-family: var(--font-bold);
            color: var(--text-light);
            text-align: right;
            margin-right: 25px;
            margin-bottom: 18px;
            font-weight: 300;
        }
        p{
            font-family: var(--font-bold);
            font-size: var(--font-size2);
            line-height: 1;      
            color: var(--text-light);
        }
    }
    .aboutSectionParagraph2{    
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        z-index: 5;
        width: 100%;           
        & > div{
            margin-left: auto;
            width: 450px;
        }
        p{     
            color: var(--text-light);
            font-size: var(--font-size4);
        }
    }
}

/* usp section */
.usp{    
    min-height: 100vh;
    width: 100%;
    padding: 120px 80px;
    overflow: hidden;
    .swiper{
        margin-bottom: 70px;
    }
    .swiper-slide{    
        height: 70vh;
        width: 100%;	
        position: relative;
        overflow: hidden;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
            filter: brightness(.7);
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
        .img-1{
            opacity: 1;
        }
        .img-2{
            opacity: 0;
        }
        .slide-desc{        
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            opacity: 0;
            transition: all .3s ease-in-out;
            p{
                font-size: var(--font-size4);
                color: var(--text-light);    
            }
            .btn-primary{
                font-size: var(--font-size4);
            }
        }
        &:hover .img-1{
            opacity: 0;
        }
        &:hover .img-2{
            opacity: 1;
        }
        &:hover .slide-desc{
            bottom: 5%;
            opacity: 1;
            will-change: transform;
        }
    }
    .slide-heading{
        position: absolute;
        top: 10%;
        left: 40px;
        width: 80%;
        color: var(--text-light);    
        text-transform: uppercase;
        font-size: var(--font-size2);
        font-family: var(--font-bold);
        line-height: 1;
        /* mix-blend-mode: difference; */
        p{
            font-family: var(--font-normal) !important;
            text-transform: capitalize;
            color: var(--text-light);    
            font-size: .9rem;
            font-weight: 600;
            font-family: var(--font-bold);
            line-height: 1; 
        }
    }
    .other-information{
        position: absolute;
        bottom: 100px;
        right: 40px;        
        color: var(--text-light);    
        font-size: 1.1rem;
        font-weight: 600;
        font-family: var(--font-bold);
        line-height: 1;    
    }
}

/* testimonial section */
.testimonialSection{
    height: auto;
    padding: 120px 0;

    display: grid;
    grid-template-columns: .7fr 1fr;
    justify-content: center;
    align-items: center;

    .header-content{
        padding: 0 80px;
        align-items: start;
        flex-direction: column;
        gap: 25px;
    }
}