.about-page{
    .pageBanner{
        img{
            object-position: 100% 25%;
        }
    }

    .pageContents{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1.1fr;
        min-height: 120vh;

        .about-title{
            font-size: var(--font-size1);
            font-family: var(--font-bold);
            margin-bottom: 25px;            
        }

        .about-text-content{    
            padding-left: 25px;
            h2{
                font-size: var(--font-size5);
                font-family: var(--font-bold);
                font-weight: 400;
                margin: 20px 0 10px;
            }
            p{
                max-width: 80%;
                font-size: 1rem;
                line-height: 1.3;
                
                margin-bottom: 12px;
            }
        }

        .about-left{
            img{
                margin-top: 20%;
                width: 80%;
                object-fit: cover;
            }          
            
            .bottom-text{
                font-family: var(--font-bold);
                font-size: var(--font-size3);
                max-width: 60%;                                       
                margin-left: 10%;
                margin-top: 120px;
                span{
                    font-size: var(--font-size4);
                }
            }
        }
        .about-right{
            img{
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin-top: 100px;
            }
        }
    }
    
    .the-team{
        width: 100%;
        max-width: 1400px;
        margin: 80px auto 120px;        

        .heading{
            text-align: center;
            font-size: var(--font-size1);
            font-family: var(--font-bold);
            font-weight: 700;
            margin-bottom: 35px;
        }

        .team-group{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 35px;
            .team-card{                                
                .team-image{
                    overflow: hidden;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    filter: grayscale(1);
                    transition: all .5s ease;                    
                }  
                &:nth-of-type(2){
                    margin-top: 35px;
                }
                .team-name{
                    margin-top: 25px;
                    font-size: var(--font-size5);
                    font-family: var(--font-bold);
                }
                .team-about{
                    margin-top: 25px;
                    line-height: 1.4;
                }

                &:hover{
                    img{
                        filter: grayscale(0);
                        scale: 1.1;
                    }
                }
            }          
        }
    }

}